*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
button a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
}

button{
    background-color: rgba(40, 136, 201, 0.815);
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid rgba(16, 16, 17, 0.815);
}

button a:hover{
    color: #3e5a09;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #7f9458;
}

.wraper{
    position: absolute;
    left:50%;
    transform: translate(-60%,30%);
}

.heading{
    padding-bottom: 40px;
}

.heading h1{
    font-size: 50px;
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
    font-variant: small-caps;
}




/* show books */

.table-wraper table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    
}

.table-wraper th,td{
    padding: 15px;
}
.table-wraper th{
    font-variant: small-caps;
    font-size: 18px;
}
.table-wraper td{
    color: #052746;
    font-weight: 500;
}

.table-wraper td a{
    color: #013a05fa;
    font-weight: 500;
}

.table-wraper{
    position: absolute;
    left: 50%;
    transform: translate(-50%,30%);
}


.table-wraper .ope a{
    color: rgb(167, 6, 6);
}


.btn-upload {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-250%,-250%);
}


/* upload */

.btn-show {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-250%,-250%);
}

