<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Document</title>
</head>
<body>
    <div class="container">
    

    {% block body_block %}
    
        <div class="wraper">
            <div class="heading">
                <h1>welcome</h1>
            </div>

            <div class="links">
                <button class="b1"><a href="{% url 'upload' %}">upload</a></button>
                 <button class="b2"><a href="{% url 'showbooks' %}">Show</a></button>
            </div>
        </div>
        
    
    {% endblock %}
    </div>
</body>
</html>