{% extends 'base.html' %}
{% block body_block %}

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Document</title>
</head>
<body>

    

    <div class="table-wraper">
        <h1 style="text-align: center; padding-bottom: 20px;">AVAILABLE BOOKS</h1>
        <table>
            <tr>
            <th>title</th>
            <th>author</th>
            <th>pdf</th>
            <th>cover</th>
            </tr>
        
            {% for i in s %}
            <tr>
                <td>{{i.title}}</td>
                <td>{{i.author}}</td>
                <td><a href="{{i.pdf.url}}">Download</a></td>
                <td><img src="{{i.cover.url}}" width="100px" height="100px"></td>
                <td class="ope"><a href="{% url 'delete_book' i.pk %}" >Delete</a></td>
                <td class="ope"><a href="{% url 'edit_book' i.pk %}" >Edit</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="btn-upload">
        <button class="up"><a href="{% url 'upload' %}">Upload</a></button>
    </div>

</body>


{% endblock %}